***candle_stick_patterns/datasets/daily1*
***candle_stick_patterns/datasets/daily2*
***candle_stick_patterns/datasets/daily4*
***candle_stick_patterns/datasets/daily_allstocks*
***candle_stick_patterns/datasets/symbols12.csv
***candle_stick_patterns/datasets/symbols123.csv
***candle_stick_patterns/datasets/symbols_testing.csv
***candle_stick_patterns/stocksvenv
***candle_stick_patterns/templates/index1.html
***candle_stick_patterns/app12.py
***candle_stick_patterns/chartlib.py
***candle_stick_patterns/misc.py
***candle_stick_patterns/S&P*
***candle_stick_patterns/misc.csv
***candle_stick_patterns/multi_processing_loop.py
***candle_stick_patterns/multi_processing.py
***candle_stick_patterns/triangle_pattern.py
***candle_stick_patterns/prevnextday_calculations.py
***candle_stick_patterns/report_function.py
***candle_stick_patterns/download_stock_data.py
***candle_stick_patterns/candle_stick_analysis.py

