***candle_stick_patterns/datasets/daily1*
***candle_stick_patterns/datasets/daily2*
***candle_stick_patterns/datasets/symbols12.csv
***candle_stick_patterns/datasets/symbols123.csv
***candle_stick_patterns/stocksvenv
***candle_stick_patterns/templates/index1.html
***candle_stick_patterns/app12.py
***candle_stick_patterns/chartlib.py
***candle_stick_patterns/misc.py
